@* Admin sidebar partial *@
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fa-solid fa-gauge-high me-2"></i> Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index"><i class="fa-solid fa-box-open me-2"></i> Products</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Index"><i class="fa-solid fa-tags me-2"></i> Categories</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Orders" asp-action="Index"><i class="fa-solid fa-receipt me-2"></i> Orders</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index"><i class="fa-solid fa-users me-2"></i> Users</a></li>
</ul>